<!doctype html>
<html lang="en" ng-app="baseApp">
<head>
  <meta charset="utf-8">
  <title>RegExpress</title>
  <link rel="stylesheet" href="styles/teststyles.css">
  <link rel="stylesheet" href="styles/app.css">
  <!-- Loads angular source and railroad bundle -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="railroadDiagrams/bundle.js"></script>

  <script src="app/main/main.js"></script>

  <script src="components/regex/regex.directive.js"></script>
  <script src="components/regex/regex.service.js"></script>
  <script src="components/railroad/railroad.directive.js"></script>
  <script src="components/workspace/workspace.directive.js"></script>
  <script src="components/test-string/test-string.directive.js"></script>

</head>
  <!-- Main controller controls body of page -->
  <body ng-controller="MainController">
    <!-- end main controller element -->

    <div class="test">
      <h5>REGEXPRESS LIKE YOU JUST DON'T CARE</h5>
      <!-- input for test string and temp matches element-->
       <input class="teststring" type="string" ng-model="string" placeholder="Write your test string here"/>
      <p> Matches: {{ match }}</p>
       <!-- end test string and matches (can be split up) -->

    </div>
    <div class="work">

      <!-- input boxes allows the user to change $scope variables to make regex -->
      <input type="string" ng-keyup="submitRegex()" ng-model="regexBody" placeholder="Write a regex"/>
      <input type="string" ng-keyup="submitRegex()" ng-model="regexTags" placeholder="Tags"/>
      <!-- end input boxes. tags currently useless -->

      <!-- displays railroad html snippet -->
      <div ng-bind-html="railroad"></div>
      <!-- end railroad -->

    </div>

    <div class="container">
      <span class="cell" id="one">
        <div class="one">
        </div>
        <div class="one"></div>
        <div class="one"></div>
        <div class="one"></div>
      </span>
      <span class="cell" id="two"><p></p></span>
      <span class="cell" id="three"><p></p></span>
    </div>
  </body>
</html>