user-select()
  -webkit-user-select none
  -moz-user-select none
  -ms-user-select none

body
  margin: 5px
  color: #b1b1b1
  user-select()
p
  text-align: center
.test
  border: 2px solid #b1b1b1
  color: #ccc
.work
  border: 2px solid #b1b1b1
  color: #ccc
.container
  border: 2px solid #b1b1b1
  color: #ccc
.cell
  border: 2px solid #b1b1b1
.teststring
  margin: 0px auto 0 auto
  width: 400px
  height: 20px
.RR
  border: 1px solid black
.ghost
  stroke: gray
  fill: gray
