body
  background: #272727;
  background-image: url("../assets/zenbg.png")
  margin 5px
  font-family: Verdana,Helvetica
  text-align: center


.test
  border: 2px solid #b1b1b1
  height: 20vh
  color #ccc
  // background-image: url("zenbg.png")


.work
  border: 2px solid #b1b1b1
  color #ccc
  height 40vh
  padding: 5px
  // background-image: url("zenbg.png")

.container
  border: 2px solid #b1b1b1
  color #ccc
  height 50vh
  display table
  // background-image: url("zenbg.png")


.cell
  display table-cell
  width 33.333vw
  border: 2px solid #b1b1b1
  // background-image: url("zenbg.png")
