  @require railroad

  coral = #E45F56
  pistachio = #A3D39C
  light-pistachio = #c1d6bc
  robinEgg = #7ACCC8
  turquoise = #4AAAA5
  slate = #35404F
  tan = #8F917E
  lightTan = #CCCFBC

color1 = #F15D58 //salmon
color2 = #363635 //dark
color3 = #96BD4F //light_pistachio
color4 = #A68F58 //tan
color4 = #DCDDCD //cream

user-select()
  -webkit-user-select none
  -moz-user-select none
  -ms-user-select none

body
  margin: 5px
  color: color4
  user-select()
  background: color2
  text-align: center
  font-family: 'Droid Sans Mono', Helvetica, Arial
  line-height: 1.4em
  // overflow: hidden

input:focus, textarea:focus
  outline 3pt solid color4

a
  text-decoration none
  color color2

a.blog
  text-decoration underline


.header
  display inline-block

.aboutUs
  display inline-block
  background-color tan
  height 25px
  width 22%
  text-align center
  position absolute
  left 0px
  top 30px
  border-radius 0px 6px 6px 0px
  padding 15px
  z-index 2

.howDoesItWork
  display inline-block
  background-color tan
  height 25px
  width 22%
  text-align center
  padding-left 20px
  position absolute
  right 0px
  top 30px
  border-radius 6px 0px 0px 6px
  padding 15px
  z-index 2

.hidden
  background-color lightTan
  color: slate
  z-index 1

.regex-input-container
  width 40%
  margin auto
  padding 0
  .regex-slash
    font-size 16px
  .regex-input
    height 20px
    font-size 14px
  .regex
    width 60%
  .flag
    width 10%
  .test-text
    display: inline
    width: 50%
    margin-top 10px

.logo
  color: pistachio

.sublogo
  color: light-pistachio

p.instruct
  font-size: 10pt
  padding: 0
  margin: 0
  color: black

.test
  height: 10vh
  color #ccc
  text-align: center
  padding: 20px
  margin-left: auto
  
.work
  border-top 2px solid color4
  color #ccc
  padding: 5px

.library-container
  border-radius 10px
  margin 10px
  padding-top 5px
  background-color #292929
  text-align center
  min-height 20%
  overflow auto
  
.library
  color #ccc
  display table
  
.cell
  display table-cell
  width 33.333vw
  
.teststring
  margin 0px auto 0 auto
  width 400px
  height 20px
  
.RR-dir
  display inline-block
  
.informativeText
  position absolute
  float left
  margin-left 10%
  width 15%
  padding-top 25px
  text-align center
  font-size: 12px
  z-index: -1

.ghost
  stroke gray
  fill gray

.textBox, .textBox:focus
  font-weight bold
  padding 2px
  border-radius 8px
  height 20px
  padding 5px
  font-size: 14px
  background-color coral
  border 1px solid coral
  outline none

.railroad-directive
  display inline-block

.library-header
  border-radius 10px 10px  0px 0px
  margin 0px 10px 5px 10px
  padding-top 5px
  background-color #292929
  height 70px

.library-container
  border-radius 0px 0px 10px 10px
  margin 0px 10px 0px 10px
  padding-top 5px
  background-color #292929

h3
  display inline-block

.components
  cursor pointer
  display inline-table
  max-height 50
  max-width 100px
  display inline-table

#capture-group, #alternate, #repeating, #optional
  max-height 100px

.undo
  display inline-block
  background-color grey
  color #343434
  height 20px
  width 70px
  border-radius 10px
  padding 10px
  margin-bottom 100px
  vertical-align 25px
  &.stash
    cursor pointer
    background-color coral
    color color4

#trash
  display inline-block
  border-radius 10px

#question // blatant misuse of IDs here
  display: inline-block;
  padding-left 1px
  position: relative;

.question
  cursor: pointer;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: black;
  line-height: 20px;
  color: White;
  font-size: 16px;
  font-weight: bold;
  border-radius: 16px;
  border 2px solid white;
  padding-left 1px
  text-align: center;
  position: relative;

span.question:hover
  background-color: robinEgg;

span div.tooltip
  font-size 12px
  background-color: robinEgg;
  color: White;
  position: absolute;
  left: -260px;
  top: -25px;
  z-index: 1000000;
  width: 250px;
  border-radius: 5px;

span.question.question-regextest
  top -10px

span.question.question-railroad
  top -25px

div.componentToolTips
  float left
  margin 1px 1px 1px 20px
  height 75%
  width: 450px
  font-size 9pt
  color #808080
  display flex
  justify-content center
  // align-content center
  flex-direction column

div.componentSymbol
  float left
  color #808080
  font-size 18pt
  margin 20px
  width 70px

div.tooltip p
  margin: 10px;
  color: White;

.bio
  height 20%
  margin 1px
  color #363635

.headshots
  display inline-block
  float left
  margin-left 20px
  max-width 90%
  max-height 90%

.githublink
  height 20%
  margin 1px
  color slate
  text-align center
  padding 0px

.octocat
  display inline-block
  position absolute
  bottom 20px
  max-height 10%

#explanation
  margin-left 0px
  margin-right 0px
  height 80%
  margin-top 14%
  font-size 12pt
  text-align left
  width 450px
  display none
  line-height: 19px

#contribute
  display inline-block
  font-size 9pt
  float left
  margin 10px 0px 0px 40px

#diagram
  // background-color red
  height 100px
  width 400px
  margin auto
  padding: 20px

.svg-hover
  cursor pointer
