svg.railroad-diagram
	background-color: transparent
	color: black

svg.railroad-diagram path
	stroke-width: 4
	stroke: black
	fill: rgba(0,0,0,0)

svg.railroad-diagram text
	font: bold 14px monospace
	text-anchor: middle

svg.railroad-diagram text.label
	text-anchor: start

svg.railroad-diagram text.comment
	font: italic 12px monospace

svg.railroad-diagram rect
	stroke-width: 4
	stroke: black
	fill: #A3D39C


// svg.railroad-diagram g.capture-group > rect:hover,
// g.charset > rect:hover,
// g.literal > rect:hover,
// g.digit > rect:hover,
// g.non-digit > rect:hover,
// g.word > rect:hover,
// g.non-word > rect:hover,
// g.white-space > rect:hover,
// g.non-white-space > rect:hover,
// g.start > rect:hover,
// g.end > rect:hover,
// g.space > rect:hover,
// g.match > path:hover,
// g.literal-sequence > path:hover
// 	stroke: #F15D58


/* copy css */

.copy
	background-color: transparent

.copy path
	stroke-width: 4
	stroke: black
	fill: rgba(0,0,0,0)

.copy text
	font: bold 14px monospace
	text-anchor: middle

.copy text.label
	text-anchor: start

.copy text.comment
	font: italic 12px monospace

.copy rect
	stroke-width: 4
	stroke: black
	fill: #A3D39C
