.railroad-diagram
	background-color: transparent
	color: black

svg.railroad-diagram path
	stroke-width: 4
	stroke: black
	fill: rgba(0,0,0,0)

svg.railroad-diagram text
	font: bold 14px monospace
	text-anchor: middle

svg.railroad-diagram text.label
	text-anchor: start

svg.railroad-diagram text.comment
	font: italic 12px monospace

svg.railroad-diagram rect
	stroke-width: 4
	stroke: black
	fill: #A3D39C

/* copy css */

.copy
	// background-color: transparent

.copy path
	stroke-width: 4
	stroke: black
	fill: rgba(0,0,0,0)

.copy text
	font: bold 14px monospace
	text-anchor: middle

.copy text.label
	text-anchor: start

.copy text.comment
	font: italic 12px monospace

.copy rect
	stroke-width: 4
	stroke: black
	fill: #A3D39C
