svg.railroad-diagram {
    background-color: #333;
    color: black;
}
svg.railroad-diagram path {
    stroke-width: 4;
    stroke: black;
    fill: rgba(0,0,0,0);
}
svg.railroad-diagram text {
    font: bold 14px monospace;
    text-anchor: middle;
}
svg.railroad-diagram text.label {
    text-anchor: start;
}
svg.railroad-diagram text.comment {
    font: italic 12px monospace;
}
svg.railroad-diagram rect {
    stroke-width: 4;
    stroke: black;
    fill: hsl(187, 52%, 80%);
}

svg.railroad-diagram g.capture-group > rect:hover,
g.charset > rect:hover,
g.literal > rect:hover,
g.digit > rect:hover,
g.non-digit > rect:hover,
g.word > rect:hover,
g.non-word > rect:hover,
g.white-space > rect:hover,
g.non-white-space > rect:hover,
g.start > rect:hover,
g.end > rect:hover,
g.space > rect:hover,
g.match > path:hover {
    stroke: #FF00BF;
};

/* ghost css */

.copy {
    background-color: #333;
    color: black;
}
.copy path {
    stroke-width: 4;
    stroke: black;
    fill: rgba(0,0,0,0);
}
.copy text {
    font: bold 14px monospace;
    text-anchor: middle;
}
.copy text.label {
    text-anchor: start;
}
.copy text.comment {
    font: italic 12px monospace;
}
.copy rect {
    stroke-width: 4;
    stroke: black;
    fill: hsl(187, 52%, 80%);
}