<div class="library">
  <span class="cell" id="one">
    <ul>
      <li><img class="capture-group components" src="assets/capture.png"></img></li>
      <div>end line</div>
      <div>start line</div>
      <div>something else</div>
    </ul>
  </span>
  <span class="cell" id="two">
    <div><img class="any-character components" src="assets/any_character.png"></img></div>
    <div><img class="word-boundary components" src="assets/word_boundary.png"></img></div>
    <div><img class="word-character components" src="assets/word_character.png"></img></div>
    <div><img class="white-space components" src="assets/white_space.png"></img></div>
    <div><img class="digit components" src="assets/digit.png"></img></div>
  </span>
  <span class="cell" id="three">
    <br></br>
    <div>word character</div>
    <div>digit</div>
    <div>white space character</div>
    <div>start line</div>
    <div>any word boundary</div>
  </span>
</div>