<div class="library">
  <span class="cell" id="one">
    <br>
    <div><img class="components" id="text" draggable="false" src="assets/elements/text.png"></img></div>
    <div><img class="components" id="capture-group" draggable="false" src="assets/elements/capture.png"></img></div>
    <div><img class="components" id="start" draggable="false" src="assets/elements/start.png"></img></div>
    <div><img class="components" id="end" draggable="false" src="assets/elements/end.png"></img></div>
  </span>
  <span class="cell" id="two">
    <br>
    <div><img class="components" id="digit" draggable="false" src="assets/elements/digit.png"></img></div>
    <div><img class="components" id="word" draggable="false" src="assets/elements/word_character.png"></img></div>
    <div><img class="components" id="word-boundary" draggable="false" src="assets/elements/word_boundary.png"></img></div>
    <div><img class="components" id="white-space" draggable="false" src="assets/elements/white_space.png"></img></div>
    <div><img class="components" id="any-character" draggable="false" src="assets/elements/any_character.png"></img></div>
  </span>
  <span class="cell" id="three">
    <br>
    <div><img class="components" id="non-digit" draggable="false" src="assets/elements/non_digit.png"></img></div>
      <div><img class="components" id="non-word" draggable="false" src="assets/elements/non_word_character.png"></img></div>
      <div><img class="components" id="non-word-boundary" draggable="false" src="assets/elements/non_word_boundary.png"></img></div>
      <div><img class="components" id="non-white-space" draggable="false" src="assets/elements/non_white_space.png"></img></div>
  </span>
  <span class="cell" id="four">
    <br>
    <div><img class="components" id="optional" draggable="false" src="assets/elements/optional.png"></img></div>
    <div><img class="components" id="repeating" draggable="false" src="assets/elements/repeating.png"></img></div>
    <div><img class="components" id="alternate" draggable="false" src="assets/elements/or.png"></img></div>
  </span>
</div>
