<div class="library">
  <span class="cell" id="one">
    <br></br>
    <div><img class="capture-group components" draggable="false" src="assets/capture.png"></img></div>
    <div class="end components" draggable="false">end line</div>
    <div class="start components" draggable="false">start line</div>
    <div class="word components" draggable="false">word character</div>
  </span>
  <span class="cell" id="two">
    <br></br>
    <div><img class="any-character components" draggable="false" src="assets/any_character.png"></img></div>
    <div><img class="word-boundary components" draggable="false" src="assets/word_boundary.png"></img></div>
    <div><img class="word components" draggable="false" src="assets/word_character.png"></img></div>
    <div><img class="white-space components" draggable="false" src="assets/white_space.png"></img></div>
    <div><img class="digit components" draggable="false" src="assets/digit.png"></img></div>
  </span>
  <span class="cell" id="three">
    <br></br>
    <div>word character</div>
    <div>digit</div>
    <div>white space character</div>
    <div>start line</div>
    <div>any word boundary</div>
  </span>
</div>