<div>
  <svg class="railroad-diagram" width="504" height="117" viewBox="0 0 504 117">
  <g transform="translate(.5 .5)">
  <path d="M 20 46 v 20 m 10 -20 v 20 m -10 -10 h 20.5"></path>
  <g>
  <path d="M40 56h0"></path>
  <path d="M463 56h0"></path>
  <g>
  <path d="M40 56h0"></path>
  <path d="M364 56h0"></path>
  <path d="M40 56a10 10 0 0 0 10 -10v-14a10 10 0 0 1 10 -10"></path>
  <g>
  <path d="M60 22h284"></path>
  </g>
  <path d="M344 22a10 10 0 0 1 10 10v14a10 10 0 0 0 10 10"></path>
  <path d="M40 56h20"></path>
  <g>
  <path d="M60 56h0"></path>
  <path d="M344 56h0"></path>
  <rect x="60" y="30" width="284" height="67" class="group"></rect>
  <g>
  <path d="M60 56h0"></path>
  <path d="M344 56h0"></path>
  <path d="M60 56h10"></path>
  <g>
  <path d="M70 56h0"></path>
  <path d="M122 56h0"></path>
  <rect x="70" y="45" width="52" height="22" rx="10" ry="10"></rect>
  <text x="96" y="60">http</text>
  </g>
  <path d="M122 56h10"></path>
  <g>
  <path d="M132 56h0"></path>
  <path d="M200 56h0"></path>
  <path d="M132 56a10 10 0 0 0 10 -10v0a10 10 0 0 1 10 -10"></path>
  <g>
  <path d="M152 36h28"></path>
  </g>
  <path d="M180 36a10 10 0 0 1 10 10v0a10 10 0 0 0 10 10"></path>
  <path d="M132 56h20"></path>
  <g>
  <path d="M152 56h0"></path>
  <path d="M180 56h0"></path>
  <rect x="152" y="45" width="28" height="22" rx="10" ry="10"></rect>
  <text x="166" y="60">s</text>
  </g>
  <path d="M180 56h20"></path>
  </g>
  <path d="M200 56h10"></path>
  <g>
  <path d="M210 56h0"></path>
  <path d="M238 56h0"></path>
  <rect x="210" y="45" width="28" height="22" rx="10" ry="10"></rect>
  <text x="224" y="60">:</text>
  </g>
  <path d="M238 56h10"></path>
  <path d="M248 56h10"></path>
  <g>
  <path d="M258 56h0"></path>
  <path d="M286 56h0"></path>
  <rect x="258" y="45" width="28" height="22" rx="10" ry="10"></rect>
  <text x="272" y="60">/</text>
  </g>
  <path d="M286 56h10"></path>
  <path d="M296 56h10"></path>
  <g>
  <path d="M306 56h0"></path>
  <path d="M334 56h0"></path>
  <rect x="306" y="45" width="28" height="22" rx="10" ry="10"></rect>
  <text x="320" y="60">/</text>
  </g>
  <path d="M334 56h10"></path>
  </g>
  <g>
  <path d="M165.5 81h0"></path>
  <path d="M238.5 81h0"></path>
  <text x="202" y="86" class="comment">capture 1</text>
  </g>
  </g>
  <path d="M344 56h20"></path>
  </g>
  <path d="M364 56h10"></path>
  <g>
  <path d="M374 56h0"></path>
  <path d="M453 56h0"></path>
  <path d="M374 56h10"></path>
  <g>
  <path d="M384 56h15.5"></path>
  <path d="M427.5 56h15.5"></path>
  <rect x="399.5" y="45" width="28" height="22" rx="10" ry="10"></rect>
  <text x="413.5" y="60">w</text>
  </g>
  <path d="M443 56h10"></path>
  <path d="M384 56a10 10 0 0 0 -10 10v10a10 10 0 0 0 10 10"></path>
  <g>
  <path d="M384 86h0"></path>
  <path d="M443 86h0"></path>
  <text x="413.5" y="91" class="comment">3 times</text>
  </g>
  <path d="M443 86a10 10 0 0 0 10 -10v-10a10 10 0 0 0 -10 -10"></path>
  </g>
  <path d="M453 56h10"></path>
  </g>
  <path d="M 463 56 h 20 m -10 -10 v 20 m 10 -20 v 20"></path>
  </g>
  </svg>
</div>